@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import "tailwindcss";

*{
  font-family: Outfit;
}

.font-playfair {
  font-family: Playfair !important;
}

/* Hero section css */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    padding-left: 1.5rem;
    padding-right: 1.5rem;

    color: white;
    background-image: url('/src/assets/heroImage.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    margin-top: 8;

    height: 100vh;
}

/* Responsive paddings */
@media (min-width: 768px) {
    .hero-section {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}
@media (min-width: 1024px) {
    .hero-section {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}
@media (min-width: 1280px) {
    .hero-section {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}

.hero-badge {
    background-color: rgba(73, 185, 255, 0.5);
    padding: 0.25rem 0.875rem;
    border-radius: 9999px;
    margin-top: 5rem;
}
.hero-title {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-weight: 700;
    max-width: 36rem;
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .hero-title {
        font-size: 56px;
        line-height: 56px;
        font-weight: 800;
    }
}
.hero-desc {
    max-width: 130px;
    margin-top: 0.5rem;
    font-size: 0.875rem;
}

@media (min-width: 768px) {
    .hero-desc {
        font-size: 1rem;
    }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* End of Hero section css */


/* Home section css */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

/* FORM CONTAINER */
.booking-form {
    background: white;
    color: #6b7280; /* gray-500 */
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .booking-form {
        flex-direction: row;
        align-items: start;
        margin-left: 0;
        margin-right: 0;
    }
}

/* LABEL + ICON WRAPPER */
.label-row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* INPUT FIELDS */
.input-field {
    margin-top: 0.375rem;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    border-radius: 0.375rem;
    border: 1px solid #e5e7eb; /* gray-200 */
    outline: none;
}

/* GUESTS BLOCK */
.guests-block {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

@media (min-width: 768px) {
    .guests-block {
        flex-direction: column;
        align-items: start;
    }
}

.guests-input {
    max-width: 4rem;
}

/* SEARCH BUTTON */
.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    border-radius: 0.375rem;
    background: black;
    color: white;
    padding: 0.75rem 1rem;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
}

@media (max-width: 768px) {
    .search-btn {
        width: 100%;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
}


/* End home section css  */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */